
 .movie-list{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.movie-container {
  height: 420px;
  width: 250px;
  background-color: whitesmoke;
  text-align: center;

  
}
.movie-poster{
  height:300px;
  width: 250px;
  object-fit: cover;
}
.book-button{
  width: 250px;
  height: 50px;
  margin-top:13px;
  background:#ffc20e;
}
ul{
  list-style: none;
  margin-bottom: 40px;
  text-decoration:none;
  }
  .second-ul{
    list-style: none;
    margin-bottom: 40px;
    text-decoration:none;
    font-size: 12px;

  }
  .second-li {
    padding: 12px;
    color:white;
  }
li
{ 
  padding: 12px;
  color:#b3b2b6;
display:inline; 

}
a {text-decoration: none; }
sup {
  vertical-align: super;
  font-size: 10px;
  color:red;
}